@font-face {
  	font-family: 'bass_bay';
  	src: url('legendm54.woff') format('woff'); /* Modern Browsers */
}


.BasicMenuHeader {
	float: left;
	padding-left: 40px;
	width: 100%;
	font-family: 'bass_bay';
	font-size: 60px;
	padding-top: 40px;
	padding-bottom: 50px;
	background-color: #3D9BE9;
	border-bottom: 1px solid white;
	box-shadow: 0px 1px 20px 0 #999999;
}

.Carte {
	float: right;
}


